@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply scroll-smooth;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* marquee */
.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 300s linear infinite;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Make it pretty */
.marquee span {
  display: inline-block;
  padding: 0 2vw;
}

button {
  @apply px-4 py-2 rounded-lg bg-gray-100 text-black;
}

.btn-pill {
  @apply px-4 py-2 rounded-full bg-slate-800 text-white;
}

h2 {
  @apply text-4xl font-bold text-gray-800;
}

h3 {
  @apply text-2xl font-bold text-gray-800;
}
