@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply scroll-smooth bg-[#131313];
  font-family: 'Manrope', sans-serif;
  color: #fff;
}

.container {
  @apply mx-auto px-4 md:px-0 max-w-6xl;
}

/* marquee */
.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 300s linear infinite;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Make it pretty */
.marquee span {
  display: inline-block;
  padding: 0 2vw;
}

.squircle {
  clip-path: url(#squircleClip);
}

button {
  @apply px-6 py-2.5 rounded-full bg-gray-100 text-black;
  box-shadow: 0 4px 0 0 rgba(255,255,255,0.5);
}

.btn-pill {
  @apply px-4 py-2 rounded-full bg-slate-800 text-white;
}

.btn-black {
  @apply px-4 py-2 rounded-full bg-black text-white;
}

h2 {
  @apply text-4xl font-bold ;
}

h3 {
  @apply text-2xl font-bold ;
}


/* gradient blur */

.gradient-blur {
  position: fixed;
  z-index: 9;
  inset: 0;
  height: 140px;
  pointer-events: none;
  /* rotate 180deg */
  transform: rotateX(180deg);
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 12.5%, black 25%, rgba(0, 0, 0, 0) 37.5%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 12.5%, black 25%, rgba(0, 0, 0, 0) 37.5%);
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12.5%, black 25%, black 37.5%, rgba(0, 0, 0, 0) 50%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12.5%, black 25%, black 37.5%, rgba(0, 0, 0, 0) 50%);
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, black 37.5%, black 50%, rgba(0, 0, 0, 0) 62.5%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, black 37.5%, black 50%, rgba(0, 0, 0, 0) 62.5%);
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 37.5%, black 50%, black 62.5%, rgba(0, 0, 0, 0) 75%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 37.5%, black 50%, black 62.5%, rgba(0, 0, 0, 0) 75%);
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 62.5%, black 75%, rgba(0, 0, 0, 0) 87.5%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 62.5%, black 75%, rgba(0, 0, 0, 0) 87.5%);
}

.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62.5%, black 75%, black 87.5%, rgba(0, 0, 0, 0) 100%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62.5%, black 75%, black 87.5%, rgba(0, 0, 0, 0) 100%);
}

.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, black 87.5%, black 100%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, black 87.5%, black 100%);
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, black 100%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, black 100%);
}

/* circular animations */
.circqle-1 {
  border-radius: 500px;
  border: solid 2px #fff;
  filter: blur(5px);
  transform: scale(1);
  animation: circqle-1 4s ease-in-out infinite;
}

/* animate circqle-1, change width, height, blur, and scale after 4-5 seconds */
@keyframes circqle-1 {
  0% {
    width: 400px;
    height: 500px;
    filter: blur(5px);
    transform: scale(1) rotate(0deg);
  }
  50% {
    width: 500px;
    height: 600px;
    filter: blur(10px);
    transform: scale(1.1) rotate(180deg);
  }
  100% {
    width: 400px;
    height: 500px;
    filter: blur(5px);
    transform: scale(1) rotate(360deg);
  }
}

.circqle-2 {
  border-radius: 500px;
  border: solid 1px #fff;
  filter: blur(10px);
  transform: scale(1);

  animation: circqle-2 8s ease-in-out infinite;
}

/* animate circqle-1, change width, height, blur, and scale after 4-5 seconds */
@keyframes circqle-2 {
  0% {
    width: 500px;
    height: 500px;
    filter: blur(5px);
    transform: scale(0.1) rotate(0deg);
  }
  10% {
    width: 500px;
    height: 500px;
    filter: blur(5px);
    transform: scale(0.2) rotate(0deg);
  }
  50% {
    width: 500px;
    height: 600px;
    filter: blur(10px);
    transform: scale(1.1) rotate(180deg);
  }
  80% {
    width: 500px;
    height: 500px;
    filter: blur(5px);
    transform: scale(1) rotate(360deg);
  }
  100% {
    width: 500px;
    height: 500px;
    filter: blur(5px);
    transform: scale(0.1) rotate(360deg);
  }
}